* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  margin: 0;
  width: 100vw;
  height: 8em;
  background-color: #FDF9F0;
  border-bottom: 1px solid rgba(88, 86, 86, 0.1); }
  header nav div a img {
    width: 5.7em;
    height: 5.7em; }
  header nav div ul .contacto-emergente {
    border-radius: 10px; }
    header nav div ul .contacto-emergente:hover {
      border: solid 1px darkgrey;
      background-color: darkgrey; }

main .titulo-inicio {
  background-image: url(../assets/bg-inicio.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0.2em;
  border-bottom: 1px solid rgba(88, 86, 86, 0.1); }
  main .titulo-inicio .container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    transform: translate(0vw, 40vh); }
    main .titulo-inicio .container h1 {
      color: #272727;
      letter-spacing: 2px;
      font-size: 3em;
      text-align: center;
      font-weight: 200;
      font-family: 'Poppins', sans-serif; }
    main .titulo-inicio .container h2 {
      font-size: 1.3em;
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      color: #0f0f0f;
      text-align: center; }
    main .titulo-inicio .container span {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      color: #080808;
      font-size: 1em;
      text-align: center; }

footer {
  height: 5em;
  width: 100vw;
  background-color: #FDF9F0;
  border-radius: 5px; }
  footer section div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center; }
    footer section div a {
      text-decoration: none;
      font-size: 2.7em;
      color: #353535;
      padding: 0.3em; }
    footer section div .a-instagram:hover {
      color: #BF36A8; }
    footer section div .a-facebook:hover {
      color: #156fbe; }
    footer section div .a-linked:hover {
      color: black; }
    footer section div .a-adobe:hover {
      color: red; }
