* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  margin: 0;
  width: 100vw;
  height: 8em;
  background-color: #FDF9F0;
  border-bottom: 1px solid rgba(88, 86, 86, 0.1); }
  header nav div a img {
    width: 5.7em;
    height: 5.7em; }
  header nav div ul .contacto-emergente {
    border-radius: 10px; }
    header nav div ul .contacto-emergente:hover {
      border: solid 1px darkgrey;
      background-color: darkgrey; }

main {
  overflow: hidden; }
  main .titulo-inicio {
    background-image: url(../assets/bg-inicio.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0.2em;
    border-bottom: 1px solid rgba(88, 86, 86, 0.1); }
    main .titulo-inicio .container {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center;
      transform: translate(0vw, 40vh); }
      main .titulo-inicio .container h1 {
        color: #272727;
        letter-spacing: 2px;
        font-size: 3em;
        text-align: center;
        font-weight: 200;
        font-family: 'Poppins', sans-serif; }
      main .titulo-inicio .container h2 {
        font-size: 1.3em;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: #0f0f0f;
        text-align: center; }
      main .titulo-inicio .container span {
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        color: #080808;
        font-size: 1em;
        text-align: center; }

footer {
  height: 5em;
  width: 100vw;
  background-color: #FDF9F0;
  border-radius: 5px; }
  footer section div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center; }
    footer section div a {
      text-decoration: none;
      font-size: 2.7em;
      color: #353535;
      padding: 0.3em; }
    footer section div .a-instagram:hover {
      color: #BF36A8; }
    footer section div .a-facebook:hover {
      color: #156fbe; }
    footer section div .a-linked:hover {
      color: black; }
    footer section div .a-adobe:hover {
      color: red; }

main {
  margin-left: -110; }

.container {
  display: grid;
  grid-template-rows: repeat(5, 15em); }
  .container .shop {
    align-items: flex-start;
    margin-left: 0px;
    border-radius: 20px;
    background: #668bdb;
    margin: 0.7em;
    padding: 1.2em; }
    .container .shop h1 {
      font-size: 3em; }
    .container .shop h2 {
      font-size: 3em; }
    .container .shop h3 {
      font-size: 3em; }
  .container section {
    background: #6060e4;
    width: 100%;
    max-width: 50vw;
    align-content: center;
    margin: auto;
    margin-top: 1.5em;
    padding: 5em;
    border-radius: 20px; }
    .container section h4 {
      font-size: 2.5em;
      text-align: center; }
    .container section p {
      font-size: 1.5em;
      text-align: center; }
    .container section div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      .container section div .container-sponsor {
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 10px; }

main .container {
  width: 100%;
  height: 100%;
  align-content: center; }

main .sobre-mi .foto-titulo {
  background-image: url(../assets/biografia-1.jpg);
  object-fit: scale-down;
  width: 40%; }
  main .sobre-mi .foto-titulo h1 {
    text-align: right; }
