@import "partials/_resetlinks";
@import "partials/_header";
@import "partials/index/main";
@import "partials/index/footer";
@import "partials/shop/main-impresiones";
@import "partials/biografia/biografia";