footer{
    height: 5em;
    width: 100vw;
    background-color: #FDF9F0;
    border-radius: 5px;
    section{
        div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            a{
                text-decoration: none;
                font-size: 2.7em;
                color: rgb(53, 53, 53);
                padding: 0.3em;
            }
            .a-instagram:hover{
                color: #BF36A8;
            }
            .a-facebook:hover{
                color: rgb(21, 111, 190);
            }
            .a-linked:hover{
                color: rgb(0, 0, 0);
            }
            .a-adobe:hover {
                color: rgb(255, 0, 0);
            }

        }
    }
}