main{
    margin-left: -110;
}
.container {
    display: grid;
    grid-template-rows: repeat(5, 15em);

    .shop {
        align-items: flex-start;
        margin-left: 0px;
        border-radius: 20px;
        background: rgb(102, 139, 219);
        margin: 0.7em;
        padding: 1.2em;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 3em;
        }
    }

    section {
        background: rgb(96, 96, 228);
        width: 100%;
        max-width: 50vw;
        align-content: center;
        margin: auto;
        margin-top: 1.5em;
        padding: 5em;
        border-radius: 20px;

        h4 {
            font-size: 2.5em;
            text-align: center;
        }

        p {
            font-size: 1.5em;
            text-align: center;
        }

        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            .container-sponsor {
                width: 100%;
                height: 100%;
                margin: 10px;
                padding: 10px; 
            }
        }

    }
}